body{
	background-color: lightblue;
}
p{
	font-family: verdana;
	font-size: 20px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60px;
	background-color: #f1f1f1;
	overflow: :hidden;
}
li{
	float: left;
}
li a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	text-align : center;
}
li a:hover{
	background-color: #555;
	color: white;
}

.icon{
	border: 2px solid #999;
	border-radius: 4px;
	float: left;
}

.title{
	text-align: center;
	color: white;
	margin: 0;
	top: 50%;
	-ms-transform : translateY(50%);
	transform: translateY(50%);
}

.head-container{
	position: relative;
}